<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>New Message</title>
  <link rel="stylesheet" href="/index.css">
</head>
<body>
  <h1>Create a New Message</h1>
  <% if (messages && messages.length) { %>
    <ul>
      <% messages.forEach(msg => { %>
        <li><%= msg %></li>
      <% }) %>
    </ul>
  <% } %>
  <form method="POST" action="/new-message">
    <label>Title: <input type="text" name="title" required></label><br>
    <label>Text: <textarea name="text" required></textarea></label><br>
    <button type="submit">Post Message</button>
  </form>
</body>
</html>
