<html>
    <body>
        <form method="POST" action="/new">
            <input type="text" name="messageText" />
            <input type="text" name="messageUser" />
            <button><input type="submit"/></button>
        </form>
    </body>
</html>
