<html>
  <body>
    <ol>
       <% messages.forEach((message) => { %>
           <li><%= message.text %></li>
           <li><%= message.user %></li>
           <li><%= message.added %></li>
       <% }); %>
    </ol>
  </body>
</html>
